/*
 ██████  ██████  ███    ███ ███    ███ ███████ ███    ██ ████████  █████  ██████  ██ ███████ ███████
██      ██    ██ ████  ████ ████  ████ ██      ████   ██    ██    ██   ██ ██   ██ ██ ██      ██
██      ██    ██ ██ ████ ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ ██████  ██ █████   ███████
██      ██    ██ ██  ██  ██ ██  ██  ██ ██      ██  ██ ██    ██    ██   ██ ██   ██ ██ ██           ██
 ██████  ██████  ██      ██ ██      ██ ███████ ██   ████    ██    ██   ██ ██   ██ ██ ███████ ███████
*/
section#commentaries-section {
    width: 100%;
    max-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

#commentaries-section section#commentary-list {
    overflow-x: hidden;
    overflow-y: auto;

    width: 80%;
    max-height: 80vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

#commentary-list section.commentary {
    position: relative;
    padding: 1vh 1vw;

    width: 74%;
    height: 24vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;

    background-color: white;
    border-radius: 2vw;
    cursor: pointer;
}

.commentary a.delete-btn {
    cursor: pointer;

    position: absolute;
    top: .5vh;
    right: 1vw;

    outline: none;
    text-decoration: none;
    background: transparent;
    border: 0;
}

.commentary img {
    width: auto;
    max-width: 30%;
    height: 90%;
}

.commentary div#data-container {
    width: 30%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
}

#data-container h4.profile-name {
    max-height: 30%;
    font-family: 'TT-Norms-Bold';
}

#data-container div.stars-container {
    max-height: 30%;

    display: flex;
    gap: 1vw;
}

i.star {
    font-size: xx-large;
}

i.star.on {
    color: yellow;
}

i.star.off {
    color: grey;
}

.commentary p.comment-text {
    width: 30%;
    height: 90%;
}

@media screen and (max-width: 880px) {
    #commentary-list section.commentary {
        width: 85%;
        height: 40vh;

        flex-wrap: wrap;
        gap: 4%;
    }

    .commentary img {
        width: 35%;
        max-width: none;
        height: auto;
        max-height: 50%;
    }

    .commentary div#data-container {
        width: 40%;
        height: 50%;
    }

    .commentary p.comment-text {
        width: 85%;
        height: 45%;
    }
}
