h1#title-result {
    width: 100vw;

    text-align: center;
    font-family: 'TT-Norms-Bold';
}

main {
    padding: 5vh 0;

    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
}