.recipe {
    padding: 1vh 1vw;

    width: 80%;
    height: 56vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;

    background-color: #fff;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    color: black;
    text-decoration: none;
}

.recipe img {
    height: 60vw;

    border-top-right-radius: 40px;
}

.recipe h3 {
    text-align: center;
    font-family: 'TT-Norms-Bold';
}

.recipe p {
    text-align: center;
}

@media screen and (min-width: 800px) {
    .recipe img {
        height: 40vw;
    }
}

@media screen and (min-width: 1150px) {
    .recipe {
        width: 20%;
        height: 64vh;
    }

    .recipe img {
        height: 20vw;
    }
}