footer {
    width: 100%;
    height: 180vh;

    @include basic-flex(space-around, center, column);

    p#copyright-text {
        width: 90%;
    
        font-family: 'TT-Norms-Bold';
        text-align: center;
    }
}

section#left-container {
    width: 100%;

    @include basic-flex(space-between, center, column);
    gap: $vertical-high;

    img {
        width: 75%;
        height: auto;
    }

    section#left-bottom-box {
        width: 90%;
        height: 40vh;

        @extend %flex-center;
        flex-direction: column;
        gap: $vertical-mid;

        background-color: #E9BD5A;
        border-radius: $small-radius;

        p {
            width: 75%;

            font-family: 'TT-Norms-Bold';
            color: white;
        }
    }
}

section#right-container {
    width: 90%;
    height: 80vh;

    order: -1;

    background-color: white;
    border-radius: $small-radius;
}

@media screen and (min-width: 1245px) {
    footer {
        height: 100vh;

        justify-content: space-between;
        flex-flow: row wrap;

        p#copyright-text {
            margin: 0 auto;
        }
    }

    section#left-container {
        width: 15%;
        height: 80%;

        img {
            width: 90%;
            height: auto;
        }

        section#left-bottom-box {
            width: 100%;
            height: 70%;

            gap: $vertical-high;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    section#right-container {
        width: 80%;
        height: 80%;

        order: 0;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
