.recipe {
    padding: $vertical-small $horizontal-small;

    width: 80%;
    height: 56vh;

    @extend %flex-center;
    flex-direction: column;
    gap: $vertical-small;

    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;

    img {
        width: 90%;
        height: 60%;
    
        border-top-right-radius: 40px;
    }

    h3 {
        font-family: 'TT-Norms-Bold';
    }

    h3, p {
        text-align: center;
    }
}

@media screen and (min-width: 1150px) {
    .recipe {
        width: 20%;
        height: 64vh;
    }
}
