body {
    @extend %flex-center;

    p {
        position: absolute;
        bottom: 1vh;

        font-family: 'TT-Norms-Bold';
        text-align: center;
    }

    main {
        position: relative;

        width: 80%;
        height: fit-content;
        min-height: 60%;

        @extend %flex-center;
        flex-direction: column;
        gap: $vertical-high;

        background-color: white;
        border-radius: $mid-radius;

        h1 {
            font-family: 'TT-Norms-Bold';
        }

        form {
            overflow-x: hidden;
            width: 70%;
        
            @extend %flex-center;
            flex-direction: column;
            gap: $vertical-small;
        }
    }
}

@media screen and (min-width: 840px) {
    main {
        width: 60%;

        form {
            width: auto;
            gap: $vertical-mid;
        }
    }
}


/*
██ ███    ███  ██████      ██████  ███████  ██████  ██████
██ ████  ████ ██           ██   ██ ██      ██      ██    ██
██ ██ ████ ██ ██   ███     ██   ██ █████   ██      ██    ██
██ ██  ██  ██ ██    ██     ██   ██ ██      ██      ██    ██
██ ██      ██  ██████      ██████  ███████  ██████  ██████
*/
img.decorate-img {
    position: absolute;

    &#logo {
        top: 1.5vh;
        left: 3vw;

        width: auto;
        height: 9vh;
    }

    &#cookies {
        z-index: 1;
    
        top: 0;
        right: 0;
    
        width: 25vw;
        height: auto;
    }

    &#donut {
        bottom: 7vh;
        left: 1vw;
    
        width: 17vw;
        height: auto;
    }
}

@media screen and (min-width: 840px) {
    img#logo {
        height: 14vh;
    }

    img#donut {
        bottom: 1.5vh;
    }
}


/*
███████  ██████  ██████  ███    ███
██      ██    ██ ██   ██ ████  ████
█████   ██    ██ ██████  ██ ████ ██
██      ██    ██ ██   ██ ██  ██  ██
██       ██████  ██   ██ ██      ██
*/
form {
    a {
        position: absolute;
        top: 1vh;
        left: 1vw;

        width: auto;
        height: 4vh;

        img {
            @extend %full-content-size;
            color: black;
        }
    }

    input {
        padding: .5vh $horizontal-small;

        border: 0;

        text-align: center;
        font-family: 'TT-Norms-ExtraBold';
        font-size: x-large;
        color: white;

        &.green-input {
            background-color: #AFD9D5;
        }

        &.blue-input {
            background-color: #A7C6D2;
        }
    }

    button#validate {
        cursor: pointer;
        padding: 1vh 8vw;
    
        display: inline-block;
    
        background-color: #ED7bA5;
        border: 1px solid #ED7bA5;
        border-radius: 28px;
    
        text-decoration: none;
        font-family: 'TT-Norms-Bold';
        font-size: 16px;
        color: white;
    }
}

@media screen and (min-width: 840px) {
    button#validate {
        padding: $vertical-small $horizontal-mid;
    }
}


/* SPECIFIC TO LOGIN PAGE */
span#text-to-register {
    max-width: 80%;
    text-align: center;

    a {
        text-decoration: none;
        font-family: 'TT-Norms-Bold';
        color: cornflowerblue;
    }
}

/* SPECIFIC TO REGISTER PAGE */
div#upload-container {
    width: 100%;

    @include basic-flex(space-evenly, center);

    * {
        width: 45%;
    }
}
