// Fonts
@font-face {
    font-family: 'TT-Norms-Light';
    src: url("/assets/TT-Norms-Fonts/TTNorms-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: 'TT-Norms-Bold';
    src: url("/assets/TT-Norms-Fonts/TTNorms-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'TT-Norms-ExtraBold';
    src: url("/assets/TT-Norms-Fonts/TTNorms-ExtraBold.otf") format("opentype");
}

// Border radius size
$small-radius: 2vw;
$mid-radius: 5vw;

// Flex distance
$horizontal-small: 1vw;
$horizontal-mid: 3vw;

$vertical-small: 1vh;
$vertical-mid: 3vh;
$vertical-high: 5vh;
